<div class="modal fade" id="depositModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content wallet-modal p-4">
            <div class="modal-header border-0">
                <h5 class="modal-title text-primary">Deposit / Withdraw</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="text-white-50 small">Here you can deposit or transfer funds.</p>
                <button class="btn btn-primary w-100 mt-3" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
