<div class="modal fade" id="depositWithdrawModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content wallet-modal p-4">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title text-light">Move coins</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body pt-2">

                <!-- Initial selection screen -->
                <div id="depositWithdrawSelection">
                    <p class="text-white-50 small mb-4">
                        Choose the type of transaction and start moving your funds in or out Lending Platform.
                    </p>
                    <div class="d-flex gap-3 flex-column flex-md-row">
                        <button id="chooseDeposit" class="wallet-option flex-fill">
                            <div class="wallet-icon-circle deposit-circle mb-2">
                                <i class="bi bi-arrow-down-circle text-primary fs-3"></i>
                            </div>
                            <div class="text-white">Deposit</div>
                            <small class="text-white-50 mt-2">Bring funds to Lending Platform</small>
                        </button>

                        <button id="chooseWithdraw" class="wallet-option flex-fill">
                            <div class="wallet-icon-circle withdraw-circle mb-2">
                                <i class="bi bi-arrow-up-circle text-success fs-3"></i>
                            </div>
                            <div class="text-white">Withdraw</div>
                            <small class="text-white-50 mt-2">Move funds out Lending Platform</small>
                        </button>
                    </div>
                </div>

                <!-- Deposit view -->
                <div id="depositView" class="d-none">
                    <h5 class="text-light mt-3 mb-2">Deposit funds from your wallet</h5>
                    <p class="text-white-50 small mb-4">
                        Select the currency you would like to transfer from, then enter the amount and confirm the
                        transaction.
                    </p>

                    <label class="form-label text-white-50 mb-2">Select currency</label>
                    <div class="row g-2 mb-3" id="depositCurrencyOptions">
                        <div class="col-12 col-md-6">
                            <button class="btn-deposit-currency deposit-currency-btn w-100" data-currency="Bitcoin"
                                    id="selectBitcoin">
                                <div class="currency-icon">
                                    <i class="bi bi-currency-bitcoin fs-5"></i>
                                </div>
                                Bitcoin<br><small class="text-white-50">BTC ⇔ mRBTC</small>
                            </button>
                        </div>
                        <div class="col-12 col-md-6">
                            <button class="btn-deposit-currency deposit-currency-btn w-100" data-currency="depositRBTC"
                                    disabled id="selectDepositRBTC">
                                <div class="currency-icon">
                                    <i class="bi bi-currency-bitcoin fs-5"></i>
                                </div>
                                RBTC<br><small class="text-white-50">0.00 mRBTC</small>
                            </button>
                        </div>
                    </div>

                    <label class="form-label text-white-50 mb-2">Amount to Transfer</label>
                    <div class="input-group mb-2">
                        <input type="number" class="form-control input-primary text-white border-end-0"
                               placeholder="1.000"/>
                        <span class="input-group-text text-white text-xs border-dark border-start-0">mBTC</span>
                    </div>
                    <div class="text-danger fw-bold text-xs mb-3">
                        WARNING: Do not overpay or underpay and do not send from an exchange unless you are sure you
                        receive the exact amount!
                    </div>

                    <div class="row g-2">
                        <div class="col-12 col-md-6 d-flex flex-column">
                            <div class="p-3 h-100 rounded-3 d-flex flex-column"
                                 style="background-color:#0d0d0f; border: 1px solid white;">
                                <div class="text-white mb-2 small fw-semibold">Bridge BTC to My Account</div>
                                <div class="text-white-50 text-xs mb-3 flex-grow-1">
                                    Bridge BTC to RBTC via BTCPayServer and have them directly deposited to your
                                    Bitcoin-Betting Account.<br>
                                    (ETA 10min, 0.005mBTC fees)
                                </div>
                                <form action="https://bitcoin-betting.org/apps/2fnCnGQJeNba9CqyrbSkQkU7R5ks/pos/form?buyerEmail=leave@blank-if-you-like.org"
                                      method="POST" target="_blank">
                                    <input type="hidden" name="__RequestVerificationToken" value="">
                                    <input type="hidden" name="email" value="leave@blank-if-you-like.org">
                                    <input type="hidden" name="redirectUrl"
                                           value="https://app.bitcoin-betting.com/?cur=RBTC">
                                    <input type="hidden" name="amount" value="0.001">
                                    <input type="hidden" name="orderId" value="320">
                                    <button type="submit" class="btn btn-primary w-100 mt-auto">Deposit/Bridge <i
                                            class="bi bi-box-arrow-up-right ms-2 text-xs"></i></button>
                                </form>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 d-flex flex-column">
                            <div class="p-3 h-100 rounded-3 d-flex flex-column"
                                 style="background-color:#0d0d0f; border: 1px solid white;">
                                <div class="text-white mb-2 small fw-semibold">Bridge BTC to My Wallet</div>
                                <div class="text-white-50 text-xs mb-3 flex-grow-1">
                                    Bridge BTC to RBTC via BTCPayServer and have them credited to your Wallet. Deposit
                                    RBTC later in a separate transaction.<br>
                                    (ETA 13min, 0.005mBTC fees)
                                </div>
                                <button disabled class="btn btn-primary w-100 mt-auto">Deposit/Bridge <i
                                        class="bi bi-box-arrow-up-right ms-2 text-xs"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <a href="https://boltz.exchange/" target="_blank" rel="noopener noreferrer"
                           class="text-decoration-none">
                            <div class="bridge-extra-option p-2">
                                <div class="text-white fw-semibold">
                                    Bridge BTC via Lightning Network. <i
                                        class="bi bi-box-arrow-up-right text-xs ms-1"></i>
                                </div>
                                <div class="text-white-50 text-xs mt-1">
                                    Use the Boltz Lightning Exchange to convert your BTC into RBTC. Deposit RBTC later
                                    in a
                                    separate transaction. (ETA 5min, 0.25% fees)
                                </div>
                            </div>
                        </a>

                        <a href="https://powpeg.rootstock.io/" target="_blank" rel="noopener noreferrer"
                           class="text-decoration-none">
                            <div class="bridge-extra-option p-2">
                                <div class="text-white fw-semibold">
                                    Bridge BTC via PowPeg. <i class="bi bi-box-arrow-up-right text-xs ms-1"></i>
                                </div>
                                <div class="text-white-50 text-xs mt-1">
                                    Use the trustless PowPeg to bridge BTC to your RBTC Wallet. Deposit RBTC later in a
                                    separate transaction. (ETA 17 hours, 0.002mBTC fees)
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Withdraw view -->
                <div id="withdrawView" class="d-none">
                    <h5 class="text-light mt-3 mb-2">Withdraw from Lending Platform</h5>
                    <p class="text-white-50 small mb-4">
                        Select the currency and amount to withdraw to your wallet.
                    </p>

                    <label class="form-label text-white-50 mb-2">Select currency</label>
                    <div class="d-flex gap-2 mb-3" id="withdrawCurrencyOptions">
                        <button class="btn-withdraw-currency flex-fill withdraw-currency-btn" data-currency="RBTC"
                                id="selectRBTC">
                            <div class="currency-icon">
                                <i class="bi bi-currency-bitcoin fs-5"></i>
                            </div>
                            RBTC<br><small class="text-white-50">1.00 mRBTC</small>
                        </button>
                        <button class="btn-withdraw-currency flex-fill withdraw-currency-btn" data-currency="BTC"
                                id="selectBTC">
                            <div class="currency-icon">
                                <i class="bi bi-currency-bitcoin fs-5"></i>
                            </div>
                            BTC<br><small class="text-white-50">1.00 mRBTC</small>
                        </button>
                    </div>

                    <label class="form-label text-white-50 mb-2" id="withdrawAddressLabel">Blockchain
                        address</label>
                    <input type="text" id="withdrawAddressInput"
                           class="form-control mb-3 text-white input-primary withdraw-input"
                           placeholder="0x123123..."/>

                    <label class="form-label text-white-50 mb-2">Amount to withdraw</label>
                    <div class="input-group mb-2">
                        <input type="number" class="form-control input-primary text-white border-end-0"
                               placeholder="1.000"/>
                        <span id="currentWithdrawCurrency"
                              class="input-group-text text-white text-xs border-dark border-start-0"></span>
                    </div>

                    <div class="d-flex gap-2 mt-4">
                        <button class="btn btn-outline-light w-50" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-success w-50">Withdraw now</button>
                    </div>

                    <p class="text-white-50 tip mt-3" id="withdrawTip"></p>
                </div>
            </div>
        </div>
    </div>
