<footer class="d-flex justify-content-between align-items-center p-3 mt-auto flex-wrap">
    <span class="text-secondary small">&copy;&nbsp;2025&nbsp;<a href="https://bitcoin-betting.com/"
                                                                class="text-decoration-none text-secondary footer-option">Bitcoin Betting</a></span>
    <div>
        <a href="https://github.com/Bitcoin-Betting-Official/Lending-Platform" target="_blank" class="text-secondary small me-3 text-decoration-none footer-option">GitHub</a>
        <a href="#" class="text-secondary small text-decoration-none footer-option">Terms</a>
    </div>
</footer>
