<footer class="p-3 mt-auto text-secondary small">
    <div class="d-flex w-100">
        <div class="footer-col text-start">
            v0.0.1&nbsp;&copy;&nbsp;2025&nbsp;
            <a href="https://bitcoin-betting.com/" target="_blank"
               class="text-decoration-none text-secondary footer-option">Bitcoin Betting</a>
        </div>

        <div class="footer-col text-center d-sm-block d-none" id="currentNodeDisplay"></div>

        <div class="footer-col text-end">
            <a href="https://github.com/Bitcoin-Betting-Official/Lending-Platform" target="_blank"
               class="text-secondary text-decoration-none footer-option me-3">GitHub</a>
            <a href="#" class="text-secondary text-decoration-none footer-option">Terms</a>
        </div>
    </div>
</footer>
