<div class="modal fade" id="walletModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content wallet-modal text-white p-4">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title">Connected</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body text-center my-5 px-2">

                <div class="fw-bold fs-5 d-flex justify-content-center align-items-center gap-2">
                    <span id="walletAddressDisplay">0x...</span>
                    <button id="copyWalletBtn" class="btn btn-sm btn-outline-light border-0 px-2 py-1"
                            title="Copy address">
                        <i class="bi bi-clipboard"></i>
                    </button>
                </div>

                <div class="text-secondary small mt-1" id="wallerUserId"></div>

                <div class="row mt-4 gx-3 gy-3">
                    <div class="col-12 col-md-6">
                        <div class="text-start currency-section h-100">
                            <div class="fw-bold text-primary text-uppercase small">RBTC</div>
                            <ul class="list-unstyled mb-0">
                                <li><span class="text-primary">Available:</span> <span id="rbtcAvailable">0.00</span></li>
                                <li><span class="text-primary">Reserved:</span> <span id="rbtcReserved">0.00</span></li>
                                <li><span class="text-primary">Used:</span> <span id="rbtcUsed">0.00</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="text-start currency-section h-100">
                            <div class="fw-bold text-primary text-uppercase small">USDC</div>
                            <ul class="list-unstyled mb-0">
                                <li><span class="text-primary">Available:</span> <span id="usdcAvailable">0.00</span></li>
                                <li><span class="text-primary">Reserved:</span> <span id="usdcReserved">0.00</span></li>
                                <li><span class="text-primary">Used:</span> <span id="usdcUsed">0.00</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer border-0 justify-content-center pt-0">
                <button class="btn btn-primary w-100 py-2 rounded-3" id="disconnectWalletBtn">
                    <i class="bi bi-box-arrow-left me-2"></i> Disconnect
                </button>
            </div>
        </div>
    </div>
</div>
