<section class="mb-5">
    <div class="d-flex align-items-center mb-2">
        <img src="./../../assets/images/btc.svg" alt="Bitcoin" width="40" class="me-2"/>
        <h2 class="h4 fw-bold mb-0 text-white">Getting started with <span class="text-primary">Lending Platform</span></h2>
    </div>
    <p class="text-light mb-4">
        Lending Platform allows for decentralized issuing, borrowing, lending of Stablecoins as well as trading against RBTC.
    </p>
</section>

<section class="home-welcome rounded-4 p-4 text-center">
    <img src="https://app.bitcoin-betting.com/tutorials/svgs/creating-account.svg" alt="Ghost" class="mb-4 w-15"/>
    <h4 class="fw-semibold text-white mb-2">Please, connect your wallet</h4>
    <p class="text-secondary mb-4">
        Connect your wallet to access your balance, manage deposits, staking, borrowings, and orders.
    </p>
    <button class="btn connect-btn mx-auto" id="connectWalletBtnSecondary">
        <i class="bi bi-wallet2 me-2"></i> Connect wallet
    </button>
</section>
