<div class="row align-items-start mx-2">
    <div class="col-md-4">
        <div class="mb-5">
            <h5 class="text-primary fw-semibold">Balance</h5>
            <h2 class="display-5 fw-bold text-white">
                <i class="bi bi-currency-bitcoin" style="margin-left: -0.5rem"></i>
                <span id="rbtcBalance"></span>
            </h2>
            <p class="text-white mb-0 d-flex align-items-center">
                <img src="./../../assets/images/usdc.svg" class="d-inline me-2" width="20">
                <span id="usdcBalance"></span>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div id="yourSuppliesSection" class="dashboard-card pt-3 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-4 mx-4">
                <h5 class="mb-0 text-white fw-semibold">Your Borrows</h5>
                <span role="button" class="text-secondary" onclick="toggleSection('yourSupplies')">
                    <span id="yourSuppliesToggleLabel">Hide</span>
                    <span class="bi ms-1 fs-5" id="yourSuppliesToggleIcon">–</span>
                </span>
            </div>

            <div id="yourSuppliesContent">
                <div class="table-responsive">
                    <table class="table table-borderless align-middle mb-0">
                        <thead>
                        <tr class="text-secondary lending-border-bottom">
                            <th class="fw-normal fs-0875 text-light ps-3 w-25">Assets</th>
                            <th class="fw-normal text-center fs-0875 text-light">APY</th>
                        </tr>
                        </thead>
                        <tbody id="yourSuppliesTableBody">
                        <tr>
                            <td class="py-3 ps-3 w-25">
                                <img src="../../assets/images/usdc.svg" width="32" class="me-2 align-middle" alt="USDC">
                                <span class="fw-semibold text-light">USDC</span>
                            </td>
                            <td class="py-3 text-center fw-semibold text-light">< 0.01%</td>
                            <td class="py-3 text-end pe-3">
                                <button class="btn btn-sm btn-primary me-1 px-3 py-2">Supply</button>
                                <button class="btn btn-sm btn-outline-light px-3 py-2">Withdraw</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id="yourBorrowsSection" class="dashboard-card pt-3 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-4 mx-4">
                <h5 class="mb-0 text-white fw-semibold">Your Borrows</h5>
                <span role="button" class="text-secondary" onclick="toggleSection('yourBorrows')">
                    <span id="yourBorrowsToggleLabel">Hide</span>
                    <span class="bi ms-1 fs-5" id="yourBorrowsToggleIcon">–</span>
                </span>
            </div>

            <div id="yourBorrowsContent">
                <div class="table-responsive">
                    <table class="table table-borderless align-middle mb-0">
                        <thead>
                        <tr class="text-secondary lending-border-bottom">
                            <th class="fw-normal fs-0875 text-light ps-3 w-25">Asset</th>
                            <th class="fw-normal text-center fs-0875 text-light">Debt</th>
                            <th class="fw-normal text-center fs-0875 text-light">APY</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="yourBorrowsTableBody">
                        <tr>
                            <td class="py-3 ps-3 w-25">
                                <img src="../../assets/images/usdc.svg" width="32" class="me-2 align-middle" alt="USDC">
                                <span class="fw-semibold text-light">USDC</span>
                            </td>
                            <td class="py-2 text-center text-light">2,079.47<br><span class="fs-085">$2,079,24</span>
                            </td>
                            <td class="py-3 text-center fw-semibold text-light">4.20%</td>
                            <td class="py-3 text-end pe-3">
                                <button class="btn btn-sm btn-primary me-1 px-3 py-2">Switch</button>
                                <button class="btn btn-sm btn-outline-light px-3 py-2">Repay</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id="assetsSupplySection" class="dashboard-card pt-3 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-4 mx-4">
                <h5 class="mb-0 text-white fw-semibold">Assets to supply</h5>
                <span role="button" class="text-secondary" onclick="toggleSection('assetsSupply')">
                    <span id="assetsSupplyToggleLabel">Hide</span>
                    <span class="bi ms-1 fs-5" id="assetsSupplyToggleIcon">–</span>
                </span>
            </div>

            <div id="assetsSupplyContent">
                <div class="table-responsive">
                    <table class="table table-borderless align-middle mb-0">
                        <thead>
                        <tr class="text-secondary lending-border-bottom">
                            <th class="fw-normal fs-0875 text-light ps-3 w-25">Assets</th>
                            <th class="fw-normal text-center fs-0875 text-light">APY</th>
                        </tr>
                        </thead>
                        <tbody id="assetsSupplyTableBody">
                        <tr>
                            <td class="py-3 ps-3 w-25">
                                <img src="../../assets/images/usdc.svg" width="32" class="me-2 align-middle" alt="USDC">
                                <span class="fw-semibold text-light">USDC</span>
                            </td>
                            <td class="py-3 text-center fw-semibold text-light">1.84%</td>
                            <td class="py-3 text-end pe-3">
                                <button class="btn btn-sm btn-primary me-1 px-3 py-2">Supply</button>
                                <button class="btn btn-sm btn-outline-light px-3 py-2">...</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id="assetsBorrowSection" class="dashboard-card pt-3 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-4 mx-4">
                <h5 class="mb-0 text-white fw-semibold">Assets to borrow</h5>
                <span role="button" class="text-secondary" onclick="toggleSection('assetsBorrow')">
                    <span id="assetsBorrowToggleLabel">Hide</span>
                    <span class="bi ms-1 fs-5" id="assetsBorrowToggleIcon">–</span>
                </span>
            </div>

            <div id="assetsBorrowContent">
                <div class="table-responsive">
                    <table class="table table-borderless align-middle mb-0">
                        <thead>
                        <tr class="text-secondary lending-border-bottom">
                            <th class="fw-normal fs-0875 text-light ps-3 w-25">Asset</th>
                            <th class="fw-normal text-center fs-0875 text-light">Available
                                <i class="bi bi-info-circle fs-075 ms-1"></i></th>
                            <th class="fw-normal text-center fs-0875 text-light">APY, variable
                                <i class="bi bi-info-circle fs-075 ms-1"></i></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="borrowAssetsTableBody">
                        <tr>
                            <td class="py-3 ps-3 w-25">
                                <img src="../../assets/images/usdc.svg" width="32" class="me-2 align-middle" alt="USDC">
                                <span class="fw-semibold text-light">USDC</span>
                            </td>
                            <td class="py-2 text-center text-light">2.82M<br><span class="fs-085">$2.82M</span></td>
                            <td class="py-3 text-center fw-semibold text-light">4.24%</td>
                            <td class="py-3 text-end pe-3">
                                <button class="btn btn-sm btn-primary me-1 px-3 py-2">Borrow</button>
                                <button class="btn btn-sm btn-outline-light px-3 py-2">Details</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
