<div class="row align-items-start">
    <div class="col-md-4">
        <div class="mb-5">
            <h5 class="text-primary fw-semibold">Balance</h5>
            <h2 class="display-5 fw-bold text-white">
                <i class="bi bi-currency-bitcoin" style="margin-left: -0.5rem"></i>
                <span id="rbtcBalance"></span>
            </h2>
            <p class="text-white mb-0 d-flex align-items-center">
                <img src="./../../assets/images/usdc.svg" class="d-inline me-2" width="20">
                <span id="usdcBalance"></span>
            </p>
        </div>
    </div>
</div>
